/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  height: 100%;
  
  background-color: black;
  color: white;
  font-family: "Monaco", monospace;
  
  background-repeat: repeat;
  background-image: url("/rvklein-emsqpat--composite-pattern-14.svg");
  background-size: 250px;
  background-position: 0  0;
  
  animation: animatedBackground 5s linear infinite;
  -webkit-animation: animatedBackground 5s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: 500px 250px;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: 500px 250px;
  }
}

h1 {
  background-color: rgba(0,0,0,0.66);
  color: white;
  padding: 16px;
}

p {
  background-color: black;
  width: fit-content;
}

span {
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
  background-color: white;
}

a:hover {
  color: white;
  background-color: black;
  animation: blink-background-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-background-animation 1s steps(2, start) infinite;
}
@keyframes blink-background-animation {
  to {
    color: black;
    background-color: white;
  }
}
@-webkit-keyframes blink-background-animation {
  to {
    color: black;
    background-color: white;
  }
}

.content {
  width: 100%;
  background-color: rgba(0,0,0,0.66);
  max-width: 1600px;
  padding: 16px;
  margin: 16px;
  display: inline-block;
}

.img-link {
  background-color: transparent;
}

.img-link:hover {
  background-color: transparent;
  opacity: 0.6;
}

.rest-get {
  color: lime;
  font-weight: bold;
  text-transform: uppercase;
}

.anim-blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: transparent;
  }
}
@-webkit-keyframes blink-animation {
  to {
    color: transparent;
  }
}

#host {
  background-color: black;
  color: white;
}

#path {
  animation: typewriter 4s steps(44) 1s 1 normal both;
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both;
  overflow: hidden;
  
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 100%;}
}
@-webkit-keyframes typewriter {
  from{width: 0;}
  to{width: 100%;}
}

#host:hover {
  background-color: white;
  color: black;
}